body{
    font-family:'rawline',Raleway,sans-serif;
}
header.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
header .logo{
    height: 80px;
}
header .logo-small{
    height: 40px;
}
header .navbar-bookswitch{
    background-color: rgb(222,252,250)
}



.title-contact {
  color:white;
}

.sub-title-contact{
  color: rgba(0,0,0,0.7);
}

.contact-number {
  color: rgba(0,0,0,0.9);
  font-size: 20px;
}

.contact-email {
  color: rgba(0,0,0,0.9);
  font-size: 20px;
}

.contact-address{
  color: rgba(0,0,0,0.9);
  font-size: 20px;
}

.section-presub-title{
  background-color:rgb(242,242,242);
}

.section-contact-info{
  background-color:rgb(242,242,242);
}

.section-intro-about .heading-intro{
  color: rgba(0, 0, 0, 0.7);
}

.section-intro-about .lead-intro{
  color: rgba(0, 0, 0, 0.6);
} 

.section-intro-about{
  background-color: rgb(242,242,242);
}

.section-dev{
  background-color: rgb(242,242,242);
}

.section-dev .heading-dev{
  color: rgba(0, 0, 0, 0.7);
}

.section-dev .lead-dev{
  color: rgba(0, 0, 0, 0.6);
}

.section-stats{
  background-color:#003446
}

.section-join{
   background-color: rgb(242,242,242);
}

.section-join .heading-join{
   color: rgba(0, 0, 0, 0.7);
}

.section-join .lead-join{
   color: rgba(0, 0, 0, 0.6);
}